<!DOCTYPE html>
<%- include('./partials/head.ejs'); %>

    <body>
        <div class="detail-wrapper"> <!--the whole screen wrapper-->
            <%- include('./partials/nav-bar.ejs'); %>
                <div class="post-detail-wrapper"><!--the post goes here-->
                    <div class="post-detail-card"><!--the post card-->
                        <div class="post-detail-text">
                            <h3>
                                <%= result.title %>
                            </h3>
                            <p>
                                <%= result.text %>
                            </p>
                            <% result.tags.forEach(tag=>{%>
                                <a href="/vents/<%= tag %>" class="tags">#<%= tag %></a>
                                <% }) %>
                        </div>
                        <div class="icons"><!--the icons-->
                            <i class="fa-solid fa-heart fa-1x" id="like"></i>
                            <i class="fa-solid fa-comment"></i>
                            <i class="fa-solid fa-copy"></i>
                        </div>
                    </div><!--the post card ended here-->
                    <div class="side-tab">
                        <div class="profile">
                            <div class="circle-avatar">
                                <i class="fa-solid fa-user fa-2x"></i>
                            </div>
                            <p class="name"><%= result.name %></p>
                        </div>
                        <div class="comment-home">
                            <div class="comments">
                                <div class="comment-nav">
                                    <h1>Comments</h1>
                                    <div class="comment-write" id="write_toogle">
                                        <i class="fa-solid fa-pen-nib" id="ic"></i>
                                        <span id="ic-text">write</span>
                                    </div>
                                </div>
                                <div class="comment-card-wrapper">
                                    <form action="/vents/comment/<%= result._id  %>" method="post">
                                        <div class="comment-send" id="comment_input">
                                            <input type="text" placeholder="name" name="cName">
                                            <input type="text" placeholder="comment" name="cText">
                                            <button type="submit">send</button>
                                        </div>
                                    </form>
                                    <% if(comments.length > 0) {
                                        comments.forEach(comment => { %>
                                            <div class="comment-card">
                                                <p><%= comment.comments.cName %></p>
                                                <span><%= comment.comments.cText %></span>
                                            </div>
                                    <% })
                                    } else { %>
                                        <p class="comment-warn">no comment for now.</p>
                                <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div><!--wrapper ended here-->
        <script src="https://kit.fontawesome.com/d3383a5202.js" crossorigin="anonymous"></script>
        <script>

            const likeBtn = document.getElementById('like');

            let isLiked = false;

            likeBtn.addEventListener('click', () => {
                isLiked = !isLiked;

                if (isLiked) {
                    likeBtn.style.color = 'red';
                } else {
                    likeBtn.style.color = 'gray';
                }
            });

            const write_toogle = document.getElementById('write_toogle');
            const comment_input = document.getElementById('comment_input');
            const ic = document.getElementById('ic');
            const ic_txt = document.getElementById('ic-text')

            let isClicked = false;

            write_toogle.addEventListener('click', () => {
                isClicked = !isClicked;

                if (isClicked) {
                    comment_input.style.display = "block"
                    ic.setAttribute('class', 'fa-solid fa-circle-xmark')
                    ic_txt.innerHTML = 'close'
                } else {
                    comment_input.style.display = "none"
                    ic.setAttribute('class', 'fa-solid fa-pen-nib')
                    ic_txt.innerHTML = 'write'
                }
            })
        </script>
    </body>

    </html>